body {
    background-image: url('../images/green.png');
  }

.btn-primary {
    color: #212529;
    background-color: #DBACA0;
    border-color: #8D5858
}

.btn-primary:hover {
    color: #212529;
    background-color: #A17E75;
    border-color: #8D5858
}


table#game_board{
    margin:auto;
    margin-top:     10px;
    margin-bottom:  10px;
    border-style:   solid;
    border-width:   10px;
    border-color: rgb(100, 100, 100);
    background-image: url('../images/empty.gif');    

}

.tableBorderColorActive{
    border-color: #ffff99;
}

.tableBorderColorUnactive{
    border-color: #646464;

}

table#game_board td{
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50, 50, 50);    
}

#messages p{
    margin: 0px;
}

.emptyGif{
    z-index: -1; position:relative;
}

.bottomGif{
    z-index: -2; position:relative;
}

td.hovered_over:hover{
    background:url('../images/hover.gif') top;
    background-size: 100% 100%;
}

.legal2{
    background:url('../images/error.gif') top;
    background-size: 50% 100%;
}



.scores {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 0.83em;
    margin-right: 0.83em;
    font-weight: bold;
}

.names {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.0em;
    margin-left: 0.83em;
    margin-right: 0.83em;
    font-weight: bold;
}

.borderClass{
    border: thin solid red
}



    .toggler { 
        width: 500px; height: 200px; position: relative; 
    }

    #button { padding: .5em 1em; text-decoration: none; }
    
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  
