body {
    background-image_: url('../images/green.png');
    background-image: url('../images/empty.gif');    
  }

table#game_board{
    margin:auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(100, 100, 100);
}

table#game_board td{
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50, 50, 50);    
}

#messages p{
    margin: 0px;
}

.emptyGif{
    z-index: -1; position:relative;
}

.bottomGif{
    z-index: -2; position:relative;
}

td.hovered_over:hover{
    background:url('../images/hover.gif') top;
    background-size: 100% 100%;
}

.scores {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0.83em;
    margin-right: 0.83em;
    font-weight: bold;
}